<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perkenalan Diri</title>
</head>
<body>
    <h1>Perkenalan Diri</h1>
    <table border="8" cellspacing="1" cellpadding="7">
        <tr>
            <td><b>Nama:</b></td>
            <td>MUH WAHYUDI</td>
        </tr>
        <tr>
            <td><b>Tanggal Lahir:</b></td>
            <td>24/06/2006</td>
        </tr>
        <tr>
            <td><b>Alamat:</b></td>
            <td>Jeneponto</td>
        </tr>
        <tr>
            <td><b>Foto Profil</b></td>
            <td><img src="{{ url_for('static', filename='profil.jpg') }}" alt="Gambar Flask"></td>
        </tr>
    </table>
    <a href="/beranda/"><button>Beranda</button>

</body>
</html>
